<% provide(:title, "About Us") %>
<h1>About Us</h1>
<p> University 31 is about connecting women who want to learn from eachother's life experiences and providing resources to help them become better wives, mothers, and women of God.</p>
