<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>Help, I need somebody, Help, not just anybody, Help, you know I need somebody, HEEEEEELP!!!</p>
<p>Ok, jokes aside, sometimes you need some help. I haven't written the help files yet but this is where they will be once I get to them. So far this site is pretty straight forward. You can sign in securely and post "microposts" that are a maximum of 200 charactures long. Other than that I'll update this file as problems arise please email <a href="mailto:admin@university31.com">The Admin</a> with any questions. This will also bug him enough for him to update this file.
