<li>
  <span class="content"><%= link_to book.title, book %>, <%= book.author %></span>
  </br>
  <span class="timestamp">
    Reveiwed by <%= %>(added later) People. Average Rating: <%= > (Add later)
  </span>
</li>
